# Ignore target directories
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr

# Eclipse files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build directories
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Environment variables
.env
